{% extends 'layout.html' %} {% block main %}
<div>
    <p>{{dialogue}}</p>
    <hr />
    <form action="/" method="post">
        <div class="mb-3">
            <input
                type="submit"
                name="action"
                value="No"
                class="btn btn-danger me-5"
            />
            <input
                type="submit"
                name="action"
                value="Yes"
                class="btn btn-success ms-5"
            />
        </div>
    </form>
    <div>
        <span>
            <!-- https://icon-icons.com/icon/coin-dollar-finance/125510 -->
            <img
                class="me-3"
                src="\static\coin_dollar_finance_icon_125510.ico"
                alt="Bootstrap"
                width="30"
                height="24"
            />{{money}}</span
        >
    </div>
    <div>
        <span>
            <!--https://icon-icons.com/icon/game-steal-sword-tools-weapon/112708 -->
            <img
                class="me-3"
                src="\static\2730363-game-inkcontober-steal-sword-tools-weapon_112708.ico"
                alt="Bootstrap"
                width="30"
                height="24"
            />{{weapon}}</span
        >
    </div>
    <div>Party: {{party}}</div>
</div>
{% endblock main %}
